* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --h-panel: 80px;
}

#game {
    min-width: 800px;
    min-height: 600px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.elements {
    width: 100%;
    height: calc(100% - var(--h-panel));
    position: relative;
}

.elements div {
    position: absolute;
}

.player {
    background-color: brown;
    border-radius: .5rem;
}

.ball {
    background-color: green;
    border-radius: 50%;
}

.block {
    background-color: blue;
    border-radius: .5rem;
}

.panel {
    background-color: burlywood;
    height: var(--h-panel);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    color: white;
}
